name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-win:
    name: Build Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - Release
        arch:
          - x64
        include:
          - arch: x64
            platform: x64
    steps:
      - name: Check out files
        uses: actions/checkout@v3.5.2
        with:
          submodules: true
          fetch-depth: 0
          lfs: false

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Generate project files
        run: cmd /C call generate.bat

      - name: Set up problem matching
        uses: ammaraskar/msvc-problem-matcher@master

      - name: Build ${{matrix.configuration}} ${{matrix.arch}} binaries
        run: msbuild /m /v:minimal /p:Configuration=${{matrix.configuration}} /p:Platform=${{matrix.platform}} build/xlabs-master-tool.sln

      - name: Upload ${{matrix.configuration}} ${{matrix.arch}} binaries
        uses: actions/upload-artifact@v3.1.2
        with:
          name: Windows ${{matrix.configuration}} ${{matrix.arch}} binaries
          path: |
            build/bin/${{matrix.arch}}/${{matrix.configuration}}/xlabs-master-tool.exe
            build/bin/${{matrix.arch}}/${{matrix.configuration}}/xlabs-master-tool.pdb

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - Release
        arch:
          - x64
        include:
          - configuration: Debug
            config: debug
          - configuration: Release
            config: release
    steps:
      - name: Check out files
        uses: actions/checkout@v3.5.2
        with:
          submodules: true
          fetch-depth: 0
          lfs: false

      - name: Install Mold
        uses: rui314/setup-mold@staging

      - name: Generate project files
        run: ./generate.sh

      - name: Set up problem matching
        uses: ammaraskar/gcc-problem-matcher@master

      - name: Build ${{matrix.configuration}} ${{matrix.arch}} binaries
        run: |
          pushd build
          make config=${{matrix.config}}_${{matrix.arch}} -j$(nproc)

      - name: Upload ${{matrix.configuration}} ${{matrix.arch}} binaries
        uses: actions/upload-artifact@v3.1.2
        with:
          name: Linux ${{matrix.configuration}} ${{matrix.arch}} binaries
          path: |
            build/bin/${{matrix.arch}}/${{matrix.configuration}}/xlabs-master-tool

  build-mac:
    name: Build macOS
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - Release
        arch:
          - x64
          - ARM64
        include:
          - configuration: Debug
            config: debug
          - configuration: Release
            config: release
          - arch: x64
            platform: x64
          - arch: ARM64
            platform: arm64
    steps:
      - name: Check out files
        uses: actions/checkout@v3.5.2
        with:
          submodules: true
          fetch-depth: 0
          lfs: false

      - name: Generate project files
        run: ./generate.sh

      - name: Set up problem matching
        uses: ammaraskar/gcc-problem-matcher@master

      - name: Build ${{matrix.configuration}} ${{matrix.arch}} binaries
        run: |
          pushd build
          make config=${{matrix.config}}_${{matrix.platform}} -j$(sysctl -n hw.logicalcpu)

      - name: Upload ${{matrix.configuration}} ${{matrix.arch}} binaries
        uses: actions/upload-artifact@v3.1.2
        with:
          name: macOS ${{matrix.configuration}} ${{matrix.arch}} binaries
          path: |
            build/bin/${{matrix.platform}}/${{matrix.configuration}}/xlabs-master-tool
